bin/classes/com/example/shoque/R$drawable.class
bin/classes/com/example/shoque/R$id.class
bin/classes/com/example/shoque/R$layout.class
bin/classes/com/example/shoque/R$string.class
bin/classes/com/example/shoque/R$style.class
bin/classes/com/example/shoque/R$styleable.class
bin/classes/com/example/shoque/R.class
bin/jarlist.cache
gen/
bin/classes/com/example/shoque/R.java
bin/classes/com/example/shoque/GameStats.class
